
/* font family  url */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


/* head portion  */

body {
    background-color: #E5E5E5;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: 2%;
    margin-left: 3%;
    margin-top: 2%;
}
.prev {
    width: 50px;
    height: 50px;
    border-radius: 99px;
    background: #FFFFFF;
    box-shadow: 0px 3.33333px 8.33333px rgba(0, 0, 0, 0.25);
}
.prev:hover {
    background: #3B4A58;
}
.prevbtn {
    color: #BCBCBC;
    padding-left: 12px;
    font-size: 38px;
    background: none;
}
.prevbtn:hover {
    cursor: pointer;
}
.title {
    font-family: Poppins;
    font-size: 30px;
    line-height: 45px;
    margin-left: 1.5%;
    color: #999999;
}

.logo {
    position: absolute;
    margin-left: 7.5%;
    margin-top: 3%;
    width: 120px;
    height: 120px;
    background: #3B4A58;
    box-shadow: 0px 1.53846px 7.69231px rgba(0, 0, 0, 0.25), 0px 1.53846px 15.3846px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}
.logoimg {
    background: none;
    padding-left: 22%;
    padding-top: 20%;
    width: 70px;
    height: 70px;
}

@media screen and (max-width: 1100px) {
    .frm_m {
        margin-top: 2%;
    }
}



.frmcnt {
    /* position: relative; */
    margin-bottom: 45px;
    width: 85%;
    margin-top: 8%;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Raleway;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.frmt {
    margin-top: -1%;
    margin-left: 150px;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    color: #4B4B4B;
}

.frm_m {
    font-size: 22px;
    line-height: 26px;
    text-align: justify;
    color: #848484;
}

.star {
    color: red;
}

.lable {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #848484;
}











#user {
    margin-top: 1.8em;
    position: relative;
}
#user>input{
    position: relative;
    padding: 0.5em;
    font-size: 1.2em;
    background: none;
    margin-top: 1em;
}
#user>label{
    font-size: 17px;
    color: #848484;
    margin-left: 5px;
}



#user_input{
    margin-top: 2.8em;
    flex-direction: column;
    position: relative;
}
#user_input>input{
    position: relative;
    padding: 0.5em;
    font-size: 1.2em;
    outline: none;
    border: none;
    width: 60%;
    background: none;
    border-bottom: 3px solid rgb(200, 200, 200);
    z-index: 2;
}
#user_input>label{
    font-size: 1.2em;
    color: #848484;
    position: absolute;
    left: 5px;
    top: 5px;
    transition: 0.2s ease-in-out;
    z-index: 1;
}
#user_input>input:focus~label,#user_input>input:valid~label{
    transform: translateY(-30px);
    color: #3B4A58;
}
#underline{
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 60%;
}
#underline::before{
    content: '';    
    position: absolute;
    height: 100%;
    width: 100%;
    background: #3B4A58;
    transform: scaleX(0);
    transition: 0.2s 0.3s ease-in-out;
    z-index: 3;
}
#user_input>input:focus~#underline::before,#user_input>input:valid~#underline::before{
    transform: scaleX(1);
}

#sub_btn {
    display: flex;
    justify-content: center;
}
.btn {
    border: none;
    font-size: 25px;
    color: #FFFFFF;
    margin: 25px;
    align-self: center;
    width: 205px;
    height: 58px;
    background: #ED6A5E;
    border-radius: 33px;
}
.btn:hover {
    background: #ca6259;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .nav {
        flex-direction: column;
    }
    .title {
        margin-left: 15%;
    }
    #user_input>input {
        width: 100%;
    }
    #underline{
        width: 100%;
    }
}