
/* font family  url */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


/* head portion  */

body {
    background-color: #E5E5E5;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: 2%;
    margin-left: 3%;
    margin-top: 2%;
}
.prev {
    width: 50px;
    height: 50px;
    border-radius: 99px;
    background: #FFFFFF;
    box-shadow: 0px 3.33333px 8.33333px rgba(0, 0, 0, 0.25);
}
.prev:hover {
    background: #3B4A58;
}
.prevbtn {
    color: #BCBCBC;
    padding-left: 12px;
    font-size: 38px;
    background: none;
}
.prevbtn:hover {
    cursor: pointer;
}
.title {
    font-family: Poppins;
    font-size: 30px;
    line-height: 45px;
    margin-left: 1.5%;
    color: #999999;
}

.logo {
    position: absolute;
    margin-left: 7.5%;
    margin-top: 3%;
    width: 120px;
    height: 120px;
    background: #3B4A58;
    box-shadow: 0px 1.53846px 7.69231px rgba(0, 0, 0, 0.25), 0px 1.53846px 15.3846px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}
.logoimg {
    background: none;
    padding-left: 22%;
    padding-top: 20%;
    width: 70px;
    height: 70px;
}

@media screen and (max-width: 1100px) {
    .frm_m {
        margin-top: 2%;
    }
}

.frmcnt {
    margin-bottom: 45px;
    width: 85%;
    margin-top: 8%;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Raleway;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.frmt {
    margin-top: -1%;
    margin-left: 150px;
    font-weight: 500;
    font-size: 29px;
    line-height: 41px;
    color: #4B4B4B;
}

.frm_m {
    font-size: 22px;
    line-height: 26px;
    text-align: justify;
    color: #848484;
}

.star {
    color: red;
}

.lable {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #848484;
}

.view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.des {
    margin-right: 24%;
}

#btn {
    margin-top: 1.8em;
    position: relative;
}
.btn_inp {
    position: relative;
    padding: 0.5em;
    font-size: 1.2em;
    background: none;
    margin-top: 1em;
}

.btn_lbl {
    font-size: 17px;
    color: #848484;
    margin-left: 5px;
}

#txt{
    margin-top: 2em;
    position: relative;
}
.txt_inp{
    position: relative;
    padding: 0.5em;
    font-size: 1.2em;
    outline: none;
    border: none;
    width: 195%;
    background: none;
    border-bottom: 3px solid rgb(200, 200, 200);
    z-index: 2;
}
.e {
    width: 40%;
}
.txt_lbl{
    font-size: 1.2em;
    color: #848484;
    position: absolute;
    left: 5px;
    top: 5px;
    transition: 0.2s ease-in-out;
    z-index: 1;
}
.txt_inp:focus~label,.txt_inp:valid~label{
    transform: translateY(-30px);
    color: #3B4A58;
}

#sub_btn {
    display: flex;
    justify-content: center;
}
.btn {
    border: none;
    font-size: 25px;
    color: #FFFFFF;
    margin: 25px;
    align-self: center;
    width: 205px;
    height: 58px;
    background: #ED6A5E;
    border-radius: 33px;
}
.btn:hover {
    background: #ca6259;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .nav {
        flex-direction: column;
    }
    .title {
        margin-left: 15%;
    }
}

@media screen and (max-width: 1100px) {
    .txt_inp {
        width: 90%;
    }
    .view {
        display: flex;
        flex-direction: column;
    }
    .des {
        margin-right: 0%;
    }
}
/* @media screen and (min-width: 1050px) {
    .txt_inp {
        width: 200%;
    }
} */
















.multiselect {
    width: 100%;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    font-size: 1.2em;
    outline: none;
    border: none;
    width: 40%;
    background: none;
    border-bottom: 3px solid rgb(200, 200, 200);
    width: 100%;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #mySelectOptions {
    display: none;
    border: 0.5px #7c7c7c solid;
    background-color: #ffffff;
    max-height: 150px;
    overflow-y: scroll;
  }
  
  #mySelectOptions label {
    display: block;
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    background-color: #ffffff00;
    padding: 0 2.25rem 0 .75rem;
    padding: .375rem 2.25rem .375rem .75rem;
  }
  
  #mySelectOptions label:hover {
    background-color: #1e90ff;
  }
  #mySelectOption {
    display: none;
    border: 0.5px #7c7c7c solid;
    background-color: #ffffff;
    max-height: 150px;
    overflow-y: scroll;
  }
  
  #mySelectOption label {
    display: block;
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    background-color: #ffffff00;
    padding: 0 2.25rem 0 .75rem;
    padding: .375rem 2.25rem .375rem .75rem;
  }
  
  #mySelectOption label:hover {
    background-color: #1e90ff;
  }